<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- Root tag for hibernate config file -->
<hibernate-configuration>

    <!-- configuration for session factory -->
    <session-factory>
    	<!-- Showing credentials is bad practice -->
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password"></property>
		
		<property name="hibernate.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		
		<property name="hibernate.default_schema">project1</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		
		
		<mapping class="com.revature.models.User"></mapping>
		<mapping class="com.revature.models.Role"></mapping>
		<mapping class="com.revature.models.Reimbursement"></mapping>
		<mapping class="com.revature.models.ReimbursementStatus"></mapping>
		<mapping class="com.revature.models.ReimbursementType"></mapping>
    </session-factory>

</hibernate-configuration>